@{
    ViewData["Title"] = "Principal";
}


<partial name="Banner.cshtml" />




<!--ALL INFORMATION-->

<div class="container-fluid mt-5 float-left">



    <div class="container titlesite">

        <h3>DESENVOLVENDO A SOLUÇÃO PERFEITA PARA O SEU NEGOCIO</h3>

        <p>A MAX GI desenvolve sistemas de automação, CRM/ERP, E-commerce e outros sistemas online e desktop.</p>

    </div>


    <div class="container mt-5 ContInAll">

        <div class="col-lg-4 col-sm-5 float-left ContInSma">
            <div class="subtitle">RESPONSIVO PARA CELULAR E COMPUTADOR</div>
            <div class="response"><i class="far fa-window-restore"></i></div>
            <p class="ptext">
                Sistemas responsivos para serem utilizados em qualquer dispositivo,
                seja tablet, celular ou computadores e totalmente personalizado para o seu negocio!
            </p>

        </div>

        <div class="col-lg-4 col-sm-5 float-left ContInSma">
            <div class="subtitle">FÁCIL DE USAR</div>
            <div class="response"><i class="fas fa-atlas"></i></div>
            <p class="ptext">
                Interface simples e intuitiva, facilitando o aprendizado,
                sem precisar de semanas de aprendizado ou configuração. Nossos sistemas são simplificadores completos.
            </p>

        </div>

        <div class="col-lg-4 col-sm-5 float-left ContInSma">
            <div class="subtitle">SUAS INFORMAÇÕES EM UM SÓ LUGAR</div>
            <div class="response"><i class="fas fa-cloud-upload-alt"></i></div>
            <p class="ptext">
                Cadastros, relatórios, documentos, emails, ligações, propostas…
                Tudo organizado, centralizado e simplificado para que a equipe foque em vender mais.
            </p>

        </div>

        <div class="col-lg-4 col-sm-5 float-left ContInSma">
            <div class="subtitle">PADRONIZE E AUTOMATIZE TAREFAS</div>
            <div class="response"><i class="fas fa-paper-plane"></i></div>
            <p class="ptext">
                Templates de emails, tarefas em redes sociais e outros. Inumeras tarefas automatizadas aumentando a
                produtividade da equipe com menos esforço.
            </p>

        </div>

        <div class="col-lg-4 col-sm-5 float-left ContInSma">
            <div class="subtitle">PRODUTIVIDADE DO SEU NEGOCIO</div>
            <div class="response"><i class="fas fa-chart-pie"></i></div>
            <p class="ptext">
                Acompanhe instantaneamente a produtividade das equipes, receba por email o resultado de vendas do dia,
                tenha inumeros graficos para auxiliar no gerenciamento e produtividade.
            </p>

        </div>

        <div class="col-lg-4 col-sm-5 float-left ContInSma">
            <div class="subtitle">FOCO NA PERFORMANCE</div>
            <div class="response"><i class="fas fa-code"></i></div>
            <p class="ptext">
                Nossos sistemas são modernos do codigo ao design, por isso não medimos esforços afim de alcançar alta
                perfomance, afim de ofeceres sistemas leves e rapidos.
            </p>

        </div>

    </div>


</div>




<!--ESPECS MGI-->

<div class="container-fluid float-left p-2 pb-5" style="min-height:500px;">

    <div class="col-6 float-left colIn">
        <img src="~/img/index/pronto.png" />
    </div>

    <div class="col-6 float-left colIn">

        <div class="container titlesite d-none d-md-block">
            <h3>
                Recursos essenciais no crm e erp mgi para impulsionar suas vendas
            </h3>
            <p>
                Otimize a produção da sua empresa
                com as vantagens do nosso CRM/ERP MGI
            </p>
            <hr />
        </div>


        <ul>
            <li>Integre com funcionalidades do seu Facebook.</li>
            <li>Sistema totalmente Responsivo com aplicativo Mobile.</li>
            <li>BackEnd em Web API Asp.Net Core para melhor performance.</li>
            <li>CRM 100% online. Acesse do seu computador, tablet ou celular.</li>
            <li>Tenha relatorios e exporte para PDF ou receba por E-mail.</li>
            <li>Muitas outras funcionalidades te esperam!</li>
        </ul>

        <input type="button" class="btnpadrao btn-default" asp-area="" asp-controller="" asp-action="" value="QUERO TESTAR">

    </div>

</div>





<!--ESPECS E-COMMERCE-->

<div class="container-fluid float-left p-0 pt-5 pb-5 mb-5" style="background:#1d75db; min-height:530px;">

    <div class="container p-0">

        <div class="col-6 float-left colInWhite">

            <div class="container titlesitewhite d-none d-md-block">
                <h3>
                    Desenvolvemos sites com tudo o que você precisa para vender e mais
                </h3>
                <p>
                    Para negócios de todos os tipos e tamanhos
                </p>
                <hr />
            </div>


            <ul>
                <li>Layouts profissionais.</li>
                <li>Integração com redes sociais, facilitando sua divulgação.</li>
                <li>Vários meios de pagamento para receber suas vendas.</li>
                <li>CRM integrado a loja virtual.</li>
                <li>Ferramentas de frete integradas para envio dos produtos.</li>
                <li>Carregamento veloz para que seus clientes não fiquem esperando.</li>
            </ul>

            <input type="button" class="btnpadrao btn-default" asp-area="" asp-controller="" asp-action="" value="SAIBA MAIS">

        </div>

        <div class="col-6 float-left colInWhite">
            <img src="~/img/index/ecommerce2.png" />
        </div>

    </div>

</div>





<!--ESPECS PROGRAMMING-->

<div class="container-fluid float-left p-0 pt-5 pb-5" style="min-height:500px;">

    <div class="col-6 float-left colIn">
        <img src="~/img/index/software.png" />
    </div>

    <div class="col-6 float-left colIn">

        <div class="container titlesite d-none d-md-block">
            <h3>
                Desenvolvemos seu sonho com segurança e qualidade
            </h3>
            <p>
                Seu sistema desktop/online tornando-se realidade
            </p>
            <hr />
        </div>


        <ul>
            <li>CRM/ERP Desktop ou Online</li>
            <li>Desenvolvemntos seu projeto personalizado</li>
            <li>APIs prontas com inumeras funcionalidade para o seu projeto</li>
            <li>Sistemas multiusuarios simultaneos, com nivel de acesso</li>
            <li>Programação em C#, PHP e Java</li>
            <li>Backup automatico e manual das suas informações</li>
        </ul>

        <input type="button" class="btnpadrao btn-default" asp-area="" asp-controller="" asp-action="" value="QUERO CONHECER">

    </div>

</div>





<!--SPECS ADVANTAGE-->

<div class="container-fluid mt-5 mb-5 float-left">



    <div class="container titlesite">

        <h3>PORQUE ESCOLHER A MAX G.I?</h3>

        <p>Apostamos na qualidade e inovação em nossas soluções, 
        preços competitivos dos serviços que prestamos<br> e metodologia de trabalho rigorosa e exigente.</p>

    </div>


    <div class="container mt-5 ContInAll">

        <div class="col-lg-4 col-sm-5 float-left ContInSma">
            <div class="response"><i class="fas fa-bug"></i></div>
            <div class="subtitle">LOGICA PARA REDUÇÃO DE ERROS</div>
            <p class="ptext">Nossas soluções são criadas buscando eliminar erros tanto internos, atravez de
            varios tratamento de erros, tornando o sistema robusco,
            quando em falhas na utilização pelo operador da solução, auxiliando o mesmo atravez do principio em ser
            extremamente intuitivo, objetivo e com pontos de ajuda.</p>

        </div>

        <div class="col-lg-4 col-sm-5 float-left ContInSma">
            <div class="response"><i class="fas fa-database"></i></div>
            <div class="subtitle">SEGURANÇA DE DADOS</div>
            <p class="ptext">Manter os dados de uma solução seguros é uma das questões primordiais,
            por isso é necessário se prevenir de algumas formas.
            Em nossas soluções, é possível obter mais confiabilidade na armazenagem dos dados atravez de certificações de
            segurança, senhas, criptografias e outros metodos que são aplicados em nossas soluções.</p>

        </div>

        <div class="col-lg-4 col-sm-5 float-left ContInSma">
            <div class="response"><i class="fas fa-money-check-alt"></i></div>
            <div class="subtitle">REDUÇÃO DE CUSTOS</div>
            <p class="ptext">Automatizar processos, seja de vendas ou internos mostra-se valioso pelo
            fato de alguns processos demorar meses para serem concluídos passando a ser em dias, mostrando excelente 
            custo-benefício. A longo prazo, contabiliza queda de erros operacionais, 
            melhor alocação de recursos, gerando satisfação dos clientes finais.</p>

        </div>



    </div>
</div>



<!--INFORMATION CLIENT-->
<div class="container-fluid float-left p-0 pt-5 pb-5 mb-5" style="background:#f3711b; min-height:400px;">


    <div class="container titlesitewhite">

        <h3>O que nossos clientes comentam sobre nossas soluções</h3>

    </div>


    <div class="container my-4">

        <!--Carousel Wrapper-->
        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
            <!--Slides-->
            <div class="carousel-inner" role="listbox">

                <!--First slide-->
                <div class="carousel-item active">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="cardper mb-2">
                                <img src="~/img/index/depo1.png" alt="Card image cap">

                            </div>
                        </div>

                        <div class="col-md-4 clearfix d-none d-md-block">
                            <div class="cardper mb-2">
                                <img src="~/img/index/depo2.png" alt="Card image cap">
                            </div>
                        </div>

                        <div class="col-md-4 clearfix d-none d-md-block">
                            <div class="cardper mb-2">
                                <img src="~/img/index/depo3.png" alt="Card image cap">
                            </div>
                        </div>
                    </div>

                </div>
                <!--/.First slide-->
                <!--Second slide-->
                <div class="carousel-item">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="cardper mb-2">
                                <img src="~/img/index/depo1.png" alt="Card image cap">

                            </div>
                        </div>

                        <div class="col-md-4 clearfix d-none d-md-block">
                            <div class="cardper mb-2">
                                <img src="~/img/index/depo1.png" alt="Card image cap">
                            </div>

                        </div>

                        <div class="col-md-4 clearfix d-none d-md-block">
                            <div class="cardper mb-2">
                                <img src="~/img/index/depo1.png" alt="Card image cap">
                            </div>
                        </div>
                    </div>

                </div>
                <!--/.Second slide-->

            </div>
            <!--/.Slides-->

        </div>
        <!--/.Carousel Wrapper-->


    </div>

</div>



<!--INVITATION-->

<div class="container-fluid float-left p-0 pt-5 pb-5 mb-5" style="min-height:530px;">

    <div class="container p-0">

        <div class="col-6 float-left colIn">

            <div class="container titlesite d-none d-md-block">
                <h3>
                    Produza muito mais sem sair do crm/erp 
                </h3>
                <p>
                    Tenha controle total sobre todos os processos a um clique 
                </p>
                <hr />
            </div>


            <ul>
                <li>Integre com funcionalidades do seu Facebook.</li>
                <li>Sistema totalmente Responsivo com aplicativo Mobile.</li>
                <li>BackEnd em Web API Asp.Net Core para melhor performance.</li>
                <li>CRM 100% online. Acesse do seu computador, tablet ou celular.</li>
                <li>Tenha relatorios e exporte para PDF ou receba por E-mail.</li>
                <li>Muitas outras funcionalidades te esperam!</li>
            </ul>

            <input type="button" class="btnpadrao btn-default" asp-area="" asp-controller="" asp-action="" value="QUERO TESTAR">

        </div>

        <div class="col-6 float-left colInWhite">
            <img src="~/img/index/ERP.png" />
        </div>

    </div>

</div>