@{
    ViewData["Title"] = "Principal";
}


    <partial name="Banner.cshtml" />





    <div class="container-fluid mt-5 float-left" style="height:auto; background:#ffffff">



            <div class="container titlesite">

                <h3>DESENVOLVENDO A SOLUÇÃO PERFEITA PARA O SEU NEGOCIO</h3>

                <p>A MAX desenvolve sistemas de automação, E-commerce e outros sistemas online e desktop.</p>

            </div>


            <div class="container mt-5" style="min-height:600px; background:#ffffff;">

                <div class="col-lg-4 col-sm-5 float-left" style="min-width:200px; height:300px;">
                    <div class="subtitle">RESPONSIVO PARA CELULAR E COMPUTADOR</div>
                    <div class="response"><i class="far fa-window-restore"></i></div>
                    <p class="ptext">Nossos sistemas são responsivo para serem utilizados em qualquer dispositivo, seja tablet, celular ou computadores</p>

                </div>

                <div class="col-lg-4 col-sm-5 float-left" style="min-width: 200px; height:300px; background:#ffffff ">
                    <div class="subtitle">Responsivo para celular e computador</div>
                    <div class="response"><i class="far fa-window-restore"></i></div>
                    <p class="ptext">Nossos sistemas são responsivo para serem utilizados em qualquer dispositivo, seja tablet, celular ou computadores</p>

                </div>

                <div class="col-lg-4 col-sm-5 float-left" style="min-width: 200px; height:300px; background: #ffffff">
                    <div class="subtitle">Responsivo para celular e computador</div>
                    <div class="response"><i class="far fa-window-restore"></i></div>
                    <p class="ptext">Nossos sistemas são responsivo para serem utilizados em qualquer dispositivo, seja tablet, celular ou computadores</p>

                </div>

                <div class="col-lg-4 col-sm-5 float-left" style="min-width: 200px; height:300px; background: #ffffff">
                    <div class="subtitle">Responsivo para celular e computador</div>
                    <div class="response"><i class="far fa-window-restore"></i></div>
                    <p class="ptext">Nossos sistemas são responsivo para serem utilizados em qualquer dispositivo, seja tablet, celular ou computadores</p>

                </div>

            </div>


    </div>



    