.response {
    text-align: center;
    font-size: 52px;
    color: #1d75db;
    padding: 10px;
    transition: 0.2s;
}
    .response:hover {
        color: #f3711b;
    }
    .subtitle {
    text-align: center;
    font-family: 'futurabk';
    font-size: 11pt;
    font-weight: bold;
}

.ptext {
    text-align: center;
    font-family: 'futura';
    font-size: 11pt;
}

.ContInAll {
    min-height: 300px;
}

.ContInSma {
    min-width: 200px;
    height: 300px;
}

.colIn {
    min-height: 400px
}

.colIn img {
    width:80%;
}

.colIn ul li {
     font-family: 'futura';
     color:#808080;
     padding-bottom:10px;
    }


.colInWhite {
    min-height: 400px
}

    .colInWhite img {
        width: 80%;
    }

    .colInWhite ul li {
        font-family: 'futura';
        color: #f1f1f1;
        padding-bottom: 10px;
    }


.cardper{

}

.cardper img {
    width:100%;
}






    /****************************************CSS CAROUSEL****************************/

