/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



/*FONTS*/
@font-face {
    font-family: century;
    src: url(../font/century-gothic.ttf)
}

@font-face {
    font-family: Nunito;
    src: url(../font/Nunito/Nunito-Regular.ttf),
    url(../font/Nunito/Nunito-Bold.ttf),
    url(../font/Nunito/Nunito-Light.ttf),
    url(../font/Nunito/Nunito-SemiBold.ttf)

}


body {
    font-family: 'century', sans-serif;
}

/***************************************************CSS MENU PRINCIPAL***********************************************/
