/* Style for all website only here.
    Specific style are separated.
*/



/*FONTS*/

@font-face {
    font-family: 'futurabk';
    src: url(../font/futura_bk_bt/FuturaBookBT.ttf)
}


@font-face {
    font-family: 'futura';
    src: url(../font/futura_bk_bt/FutuBk.ttf)
}

@font-face {
    font-family: 'century';
    src: url(../font/century-gothic.ttf)
}

@font-face {
    font-family: 'Nunito';
    src: url(../font/Nunito/Nunito-Regular.ttf),
    url(../font/Nunito/Nunito-SemiBold.ttf)

}
@font-face {
    font-family: 'Nunito-bold';
    src: url(../font/Nunito/Nunito-Bold.ttf)
}

@font-face {
    font-family: 'Nunito-light';
    src: url(../font/Nunito/Nunito-Light.ttf)
}

/*FONTS*/




/*GLOBAIS*/

body {
    font-family: 'Nunito', sans-serif;
}

    


.titlesite{}
    .titlesite h3 {
        font-family: 'futurabk';
        color: #f3711b;
        text-align: center;
    }
    .titlesite p {
        font-family: 'futura';
        color: #1d75db;
        text-align: center;
    }


.titlesitewhite {
}

    .titlesitewhite h3 {
        font-family: 'futurabk';
        color: #ffffff;
        text-align: center;
    }

    .titlesitewhite p {
        font-family: 'futura';
        color: #ffffff;
        text-align: center;
    }




.btnpadrao {
    font-family: 'futurabk';
    color: white;
    background-color: #f3711b;
    border-radius: 20px;
    border: none;
    width: 100%;
    max-width: 250px;
    min-height:40px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

.btnpadrao:hover {
    background-color: #d75d0c;
    color: white;
}


/*GLOBAIS*/

