    <footer id="myFooter" class="container-fluid float-left p-0">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-2 col-sm-6 logorodape">
                    <h2><A asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo.png" alt=""></a></h2>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <h5>MAPA DO SITE</h5>
                    <ul>
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Principal</a></li>
                        <li><a asp-area="" asp-controller="Institucional" asp-action="Sobre">Sobre</a></li>
                        <li><a asp-area="" asp-controller="Institucional" asp-action="Clientes">Clientes</a></li>
                        <li><a asp-area="" asp-controller="Institucional" asp-action="Valores">Nossos Valores</a></li>
                        <li><a asp-area="" asp-controller="Produtos" asp-action="Erp">CRM/ERP MGI</a></li>
                        <li><a asp-area="" asp-controller="Produtos" asp-action="Ecommerce">E-commerce</a></li>
                        <li><a asp-area="" asp-controller="Produtos" asp-action="Sistemas">Sistemas personalizados</a></li>

                    </ul>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <h5>EXTRAS</h5>
                    <ul>
                        <li><a asp-area="" asp-controller="Conteudo" asp-action="Ajuda">Central de Ajuda</a></li>
                        <li><a asp-area="" asp-controller="Conteudo" asp-action="Canal">Canal no Youtube</a></li>
                        <li><a asp-area="" asp-controller="Conteudo" asp-action="Materiais">Materiais</a></li>
                        <li><a asp-area="" asp-controller="Login" asp-action="Erp">Login</a></li>
                        <li><a asp-area="" asp-controller="Login" asp-action="Erp">ERP MGI</a></li>
                        <li><a asp-area="" asp-controller="Login" asp-action="Portal">Portal</a></li>
                        <li><a asp-area="" asp-controller="Contato" asp-action="Form">Contato</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <h5>ENDEREÇO</h5>
                    <ul>
                        <li style="overflow:hidden">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3738.6417527925873!2d-40.360458185621766!3d-20.438818559609533!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb8408d46839217%3A0x3a6ec2072e270a9!2sR.%20Jo%C3%A3o%20Dias%2C%20Vila%20Velha%20-%20ES%2C%2029127-059!5e0!3m2!1sen!2sbr!4v1621986557762!5m2!1sen!2sbr" 
                         width="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-2 col-sm-12">
                    <div class="social-networks">

                        <a href="#" class="youtube"><i class="fab fa-youtube-square"></i></a>
                        <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
                    </div>
                    <a href="#"></a>
                        <input type="button" class="btn btn-default" asp-area="" asp-controller="" asp-action="" value="Login">
                    
                </div>

            </div>
        </div>
        <div class="footer-copyright container-fluid">
            <p>© 2021 Copyright - Maxgi Consultoria & sistemas - Todos os direitos reservados</p>
        </div>
    </footer>

