<link rel="stylesheet" href="~/css/Rodape.css" />


<div class="container-fluid" style="background:#ff6a00; height:400px">

    <div class="container col-xl-4 float-left" style="background:#4cff00; height:inherit">

        <div class="footermenu1 float-left p-0 col-xl-5">
            <div class="list-group-flush">
                <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item list-group-item-action">Vestibulum at eros</a>
            </div>
        </div>

        <div class="linhavert col-xl-2 float-left"></div>

        <div class="footermenu2  float-left p-0 col-xl-5">
            <div class="list-group-flush">
                <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item list-group-item-action">Vestibulum at eros</a>
            </div>
        </div>

    </div>
    <div class="container col-xl-4 float-left" style="background:#0094ff; height:inherit"></div>
    <div class="container col-xl-4 float-left" style="background:#00ff90; height:inherit"></div>

</div>

<div class="container-fluid" style="background:#ff0000; height:100px">

    <div class="container col-xl-4 float-left" style="background:#ffd800; height:inherit"></div>
    <div class="container col-xl-4 float-left" style="background:#808080; height:inherit"></div>
    <div class="container col-xl-4 float-left" style="background:#b200ff; height:inherit"></div>

</div>